<footer>
   <p>Created by Kanish Mishra - Copyright {{getCurrentYear}}</p> <!--here i have called helper without any syntax because curly braces first check helpers with the provided name -->
</footer>
