<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{> header}}
    <ul>
      <li>.net</li>
      <li>php</li>
      <li>node</li>
      <li>angukar</li>
    </ul>
    {{> footer}}
  </body>
</html>
